<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">
    <title>功能展示</title>
    <!-- Bootstrap core CSS -->
    <link href="./static/polls/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="./static/polls/css/album.css" rel="stylesheet">
    <!-- 引入element样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>

<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
                    <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                    <circle cx="12" cy="13" r="4"></circle>
                </svg>
                <strong>MY WORK</strong>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main role="main" id="vueContent">
    <div class="album py-5 bg-light"
         v-loading="loading"
         element-loading-text="載入中.."
         element-loading-spinner="el-icon-loading"
         element-loading-background="rgba(0, 0, 0, 0.8)"
    >
        <div class="container">
            <div class="row">
                <div class="tex-center py-3">
                    <button v-on:click="setList()" type="button" class="btn btn-secondary">儲存</button>
                    <button v-on:click="upList()" type="button" class="btn btn-info">編輯</button>
                    <button v-on:click="delList()" type="button" class="btn btn-danger">刪除</button>
                    <button v-on:click="add500()" type="button" class="btn btn-secondary">新增500筆</button>
                </div>
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col">序列</th>
                        <th scope="col">內容</th>
                        <th scope="col">操作
                            <input v-model="allchackbox" v-on:change="allCheckBox()" type="checkbox" :checked="allchackbox">
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item,key,arr) in listData">
                        <th scope="row">{{ key+1 }}</th>
                        <td>
                            <template v-if="item.edit">
                                <input v-model="item.title" type="text" class="form-control">
                            </template>
                            <template v-else>
                                {{ item.title }}
                            </template>
                        </td>
                        <td>
                            <button v-on:click="addList(key)" type="button" class="btn btn-primary">增加</button>
                            <input v-on:click="[item.checkbox?item.checkbox=false:item.checkbox=true]" type="checkbox"
                                   :checked="item.checkbox">
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    </button>
</main>

<footer class="text-muted">
    <div class="container">
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./static/polls/js/jquery-3.3.1.slim.min.js'"></script>
<script src="./static/polls/js/popper.min.js' %}"></script>
<script src="./static/polls/js/bootstrap.min.js'"></script>
<script src="./static/polls/js/holder.min.js'"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- 引入element组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--自訂頁面js放置處-->
<script>
    var app = new Vue({
        el: '#vueContent',
        data: {
            loading: true,      // 載入
            listData: [],       // 列表
            allchackbox:false,  // 批次勾選
        },
        mounted() {

            // 預先載入處理資料
            this.listData = [
                {
                    id: false,
                    title: '',
                    checkbox: false,
                    edit: true,
                },
                {
                    id: false,
                    title: '啊啊啊啊',
                    checkbox: false,
                    edit: false,
                },
                {
                    id: false,
                    title: '喔喔喔喔',
                    checkbox: false,
                    edit: false,
                },
            ]

            this.loading = false;

            // 後端使用
            // axios.get('apiListCrud').then(response => {
            //
            //     if (!response.data.listData[0]) {
            //         this.listData = [{
            //             id: false,
            //             title: '',
            //             checkbox: false,
            //             edit: true,
            //         }]
            //     } else {
            //         this.listData = response.data.listData
            //     }
            //
            //     this.loading = false;
            // })

        },
        methods: {

            allCheckBox(){
                // 判斷是否勾選全部
                if(this.allchackbox == true){
                    for(item  in this.listData){
                        this.listData[item].checkbox = true
                    }
                }else{
                    for(item  in this.listData){
                        this.listData[item].checkbox = false
                    }
                }
            },

            add500(){
                // 新增500筆
                var i = 0
                for (item in this.listData){
                    i++
                }

                var totel = i + 500 -1

                for (var v = i ; v <= totel ; v++){
                    this.listData.splice(v, 0, {
                        id: false,
                        title: '第'+ (v+1) +'筆',
                        checkbox: false,
                        edit: true,
                    })
                }
            },

            // 後端使用
            // search(){
            //       this.loading = true;
            //       axios.post('search', {
            //           keyWord:this.keyWord,
            //       }).then(response => {
            //          this.listData = response.data
            //          this.loading = false;
            //       })
            //
            // },
            addList(key) {
                // 新增當下排序後一筆
                this.listData.splice(key + 1, 0, {
                    id: false,
                    title: '',
                    checkbox: false,
                    edit: true,
                })
            },
            /***
             * 刪除
             ***/
            delList() {

                this.loading = true;
                var delData = {}
                for (let i = this.listData.length - 1; i >= 0; i--) {
                    if (this.listData[i].checkbox) {
                        this.listData.splice(i, 1);
                        //delData[i] = this.listData[i]
                    }
                }

                this.$message({
                    message: '刪除成功!',
                    type: 'success'
                });
                this.loading = false;


                // 後端使用
                // axios.post('apiListdel', {
                //     delData: delData,
                // }).then(response => {
                //     this.$message({
                //         message: '刪除成功!',
                //         type: 'success'
                //     });
                //     this.loading = false;
                //     app.allList()
                // })
            },
            /***
             * 編輯
             ***/
            upList() {
                for (let i = this.listData.length - 1; i >= 0; i--) {
                    if (this.listData[i].checkbox) {
                        this.listData[i].edit = true
                    }
                }
            },
            /***
             * 新增
             ***/
            setList() {
                this.loading = true;
                var setData = {}
                for (item in this.listData) {
                    if (this.listData[item].edit) {
                        if (this.listData[item].title == '') {
                            this.$message.error('欄位不可為空')
                            this.loading = false;
                            return false
                        } else {
                            this.listData[item].edit = false;
                            //setData[item] = this.listData[item]
                        }
                    }
                }

                this.$message.success('儲存成功!')
                this.loading = false;

                // 後端使用
                // axios.post('apiListset', {
                //     setData: setData,
                // }).then(response => {
                //     if (response.data == 'success') {
                //         this.$message.success('儲存成功!')
                //         app.allList()
                //     } else {
                //         this.loading = false;
                //         this.$message.error('error')
                //     }
                // })
            },
            /**
             * 列表
             */
            allList() {
                axios.get('apiListCrud').then(response => {

                    if (!response.data.listData[0]) {
                        this.listData = [{
                            id: false,
                            title: '',
                            checkbox: false,
                            edit: true,
                        }]
                    } else {
                        this.listData = response.data.listData
                    }
                    this.loading = false;
                    this.allchackbox = false
                })
            }
        }
    })
</script>
</body>
</html>